.DS_Store

.idea/
*.iml
*.ipr
*.iws

backend/dist/
backend/node_modules/
backend/.env
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
backend/.env.local
backend/*.tsbuildinfo
backend/logs
backend/*.log
backend/npm-debug.log*
backend/coverage/

mobile/**/doc/api/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.pub-cache/
mobile/.pub/
mobile/build
mobile/android/build/
mobile/lib/generated_plugin_registrant.dart
mobile/lib/**/*.g.dart
